
<nav class="navbar navbar-default" role="navigation">
   <!-- Brand and toggle get grouped for better mobile display -->
   <div class="navbar-header">
   
     
   </div>

   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse navbar-ex1-collapse">
      
         <a routerLink="/welcome" routerLinkActive="active"> Home</a>
                                         
     <a routerLink="/Productlist" routerLinkActive="active"> Productlist</a>
      
      
   </div><!-- /.navbar-collapse -->
</nav>
