
<div class = "row">
    <div class ="col-sm-6 col-md-offset-3"> 
          
        
    <div class="panel panel-success">

     <div class="panel panel-primary">
       <div class="panel-heading">
         <h4 class="panel-title">welcome!!!</h4>
        </div>
        <div class = "panel-body">
            <img class="img-responsive" src="./assets/images/img1.jpg" class="img-rounded" id="Panel_Image">
        </div>
              <div class ="panel-footer panel-info">
                <small>Created By SM @2018. </small>
               </div>
          </div>
       </div>
   </div>
</div>





    


